body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #595959;
}

header {
  margin: 10px 0;
}

h1 {
  font-size: 4vw;
  text-transform: uppercase;
  margin-left: 10px;
}

h2 {
  font-family: "Bitter", serif;
  font-size: 8vw;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

h3 {
  font-size: 6vw;
  margin-bottom: 10px;
}

h6 {
  font-size: 3vw;
  margin: 4px 0;
  text-align: center;
}

p {
  font-size: 16px;
  margin: 10px 0;
}

#menu-icon {
  position: absolute;
  right: 10px;
  top: 7px;
  z-index: 1;
}

#menu-icon:hover {
  cursor: pointer;
}

nav {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #f39331;
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
  width: 100vw;
  z-index: 1;
  height: 28vh;
  justify-content: space-evenly;
}

nav > a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

nav > a:visited {
  color: white;
}

hr {
  width: 70vw;
  margin: 0;
  padding: 0;
  border: 0.5px solid white;
}

#call {
  font-size: 1.8em;
  background-color: #f39331;
  color: white;
  border-radius: 50%;
  padding: 2vh;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

#intro,
#services,
#about,
#contact {
  height: 100vh;
}

#intro,
#services,
#about,
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 30px;
}

#services,
#about,
#contact {
  justify-content: center;
}

#intro-div {
  margin-top: 2vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#intro-content > h2 {
  margin: auto;
  width: 70vw;
}

button {
  display: none;
}

.illustrations {
  width: 70vw;
}

.icons {
  width: 20vw;
  display: none;
}

#services {
  background-color: #00aec8;
  color: white;
}

#services-content {
  margin-bottom: 4vh;
}

#contact-content > img {
  width: 62vw;
  margin: 6vh 0;
}

#contact-details > p > a {
  color: #00aec8;
  text-decoration: none;
}

#about {
  background-color: #62b5a5;
  color: white;
}

#about-doug {
  margin-bottom: 8vh;
}

#doug-headshot {
  border-radius: 50%;
  width: 60vw;
}

footer {
  margin: 18px 0;
  width: 48vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* @media screen and (min-height: 640px) {
  #services {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
  }
} */

@media screen and (min-width: 768px) {
  #menu-icon {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    width: 28vw;
    height: auto;
    top: 10px;
    right: 10px;
  }

  nav > a {
    color: #595959;
  }

  nav > a:visited {
    color: #595959;
  }

  hr {
    display: none;
  }

  .illustrations {
    width: 40vw;
  }

  #intro-div {
    flex-direction: row;
    align-items: center;
    width: 90vw;
  }

  #intro-content,
  #intro-content > h2 {
    width: 40vw;
  }

  h1 {
    font-size: 1em;
  }

  h2 {
    font-size: 4.5vw;
    text-align: left;
  }

  h3 {
    font-size: 2.5vw;
  }

  h6 {
    font-size: 1.5vw;
  }

  p {
    text-align: left;
  }

  #contact-content > img {
    width: 28vw;
  }

  #doug-headshot {
    width: 30vw;
  }
}

/* @media screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: auto;
    top: 22px;
    right: 40px;
    background-color: transparent;
    font-size: 1em;
  }

  hr {
    display: none;
  }

  #intro,
  #services,
  #contact,
  #about {
    font-size: 1.1em;
  }

  #intro {
    height: 85vh;
  }

  #intro-div {
    flex-direction: row;
    justify-content: space-between;
  }

  #intro-content {
    width: 40vw;
  }

  #intro-content > h3 {
    width: auto;
  }

  #no-connection {
    width: 38vw;
  }

  #services {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
  }

  #services > h3 {
    padding-bottom: 10vh;
  }

  #services-content {
    display: flex;
    justify-content: space-between;
  }

  #service1 > p, #service2 > p, #service3 > p {
    margin-top: 6px;
  }

  #service1,
  #service2,
  #service3 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-icon {
    display: block;
    width: 10vw;
    margin-bottom: 20px;
  }

  #success {
    width: 28vw;
    margin: 30px 0;
  }

  #about-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #about-content {
    width: 50vw;
    color: white;
    text-align: left;
  }

  #doug-headshot {
    width: 30vw;
    padding: 0 40px 0 20px;
  }

  h3 {
    font-size: 5vw;
  }

  footer {
    padding: 38px;
  }

  footer > h6 {
    font-size: 0.9em;
  }
} */

/* @media screen and (min-width: 1024px) {
  nav {
    width: 20vw;
  }

  p {
    font-size: 0.9em;
  }

  #call {
    display: none;
  }

  h3 {
    font-size: 3vw;
    margin-top: 0;
  }

  #intro {
    width: 82vw;
    margin-right: auto;
    margin-left: auto;
  }

  #intro-div {
    text-align: left;
  }

  #intro-content {
    width: 48vw;
  }

  #contact > h3,
  #about > h3 {
    padding-bottom: 4vh;
  }

  #service1 > h4,
  #service1 > p,
  #service2 > h4,
  #service2 > p,
  #service3 > h4,
  #service3 > p {
    text-align: center;
  }

  #no-connection {
    width: 30vw;
  }

  #no-connection,
  #intro-content {
    padding-bottom: 40px;
  }

  h4 {
    font-size: 1.4em;
    margin-bottom: 0;
  }

  #service1,
  #service2,
  #service3 {
    width: 30%;
  }

  #contact-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
  }

  #success {
    width: 24vw;
    margin: 0;
  }

  #about-div {
    align-items: center;
  }

  #about-content {
    width: 40vw;
  }

  #doug-headshot {
    width: 22vw;
    padding: 0 40px;
  }
} */
