body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.material-icons, nav {
  position: absolute;
  right: 0;
  top: 0;
}

#menu-icon {
  z-index: 1;
}

nav {
  display: none;
  height: 20%;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  top: 40px;
}

nav > a:visited {
  color: black;
}