body {
  margin: 0;
  background-color: gainsboro;
}

main {
  margin: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#menu-icon, nav {
  position: absolute;
  right: 20px;
  top: 16px;
}

#menu-icon, #logo {
  z-index: 1;
}

nav {
  display: none;
  height: 20%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 20px 0;
  right: 0;
  background-color: mediumslateblue;
}

nav > a:visited {
  color: black;
}

#call {
  background-color: mediumslateblue;
  border-radius: 50%;
  padding: 6px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}